<connectivity>
  ConnectionType {{ connectionType }}
</connectivity>

<Account Information?
  UserName {{ userName }}
  Password {{ userPassword }}
</Account Information>

<System Information>
  DisctirbutionType {{ ansible_os_family }}
</System Information>

